<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Notification Test Page</title>
</head>
<body>
<input type="text" id="id"/>
<button type="button" onclick="login()">로그인</button>
<div>
	<table class="tb_col">
		<tr th:each="user : ${users}">
			<input type="button" th:value="${user.id}" th:onclick="updateCount(this.getAttribute('value'))">
		</tr>
	</table>
</div>
</body>
</html>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script type="text/javaScript">

	const eventSource = new EventSource("/get/createSse");
	eventSource.addEventListener("sse", (event) => {
		console.log(event.data);
	})

	function updateCount(id) {
		axios.get("/update-count?id=" + id).then(response => {
			console.log(response)
		});
	}
</script>